# 忽略以下文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# 数据库文件
*.db
*.sqlite
*.sqlite3

# 虚拟环境
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Session 文件
flask_session/

# 日志
*.log

# 系统文件
.DS_Store
Thumbs.db
